# Ignore all files in output/ and dataset/, but allow .gitkeep to preserve folder structure
# output/**
# !output/**/

# Ignore these paths completely
ncdft1.zip
ncdft2.zip
**/*.pkl

# Ignore data artifacts in src/
src/**/*.pkl
src/**/*.log
src/**/*.out
src/**/*.pyc
src/**/*.ipynb
src/deprecated

data/ml_model/ml_dicts_*
data/ml_model/intermediate_models
data/dataset/md_planar_wc/local
data/dataset/pkl/bulk_tmd/** 

output/**


!output/**/.gitkeep
!output/bulk_tmd/phase_curve.png
!output/plot_train/rho/rho_*
!output/plot_train/loss.png

!data/ml_model/ml_dicts/U_guess.pkl
!data/**/.gitkeep


#To be added:
src/tobeadded
src/libs/omega_minimization




